// colors
$color-white: hsl(0, 0%, 100%);
$color-very-dark-gray: hsl(0, 0%, 17%);
$color-dark-gray: hsl(0, 0%, 59%);

// Margin and Padding
$space-xsmall: 0.25rem;
$space-small: 1.8rem;
$space-medium: 3rem;
$space-large: 5rem;

// transition
$fade: 0.15s;

// // Media Breaks
$mobile-break: 1100px;
